/* width */
::-webkit-scrollbar {
	width: 10px;
	background-color: inherit;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: transparent;
	-webkit-transition: background 0.2s;
	transition: background 0.2s;
}

::-webkit-scrollbar-track:hover {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, .2);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .5);
	border-radius: 10px;
	height: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, .4);
}

::-webkit-scrollbar-thumb:active {
	background-color: rgba(0, 0, 0, .8);
}